.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../../../public/assets/images/IN-en-20230306-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    .MuiInputLabel-formControl {
      color: white;
      font-size: 16px;
    }
    form {
      width: 300px;
      height: 300px;
      padding: 30px;
      border-radius: 5px;
      background-color: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .MuiFormHelperText-root {
        color:  #e87c03;
       }

      input {
        // height: 40px;
        border-radius: 5px;
        background-color: #333;
        color: white;
        padding-left: 10px;
       

        &::placeholder {
          color: rgb(245, 245, 245);
        }
      }

      button {
        height: 40px;
        border-radius: 5px;
        background-color: #e50914;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }

      span {
        color: lightgray;
        b {
          color: white;
        }
      }
    }
  }
}

.form-login-page {
  /* Styles for the outer <div> container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  border-radius: 10px;
  padding: 30px;
  background-color: #000000d2; /* Background color for the entire container */
  div {
  }

  /* Styles for the Formik form container */
  // form {
  //   width: 100%;
  //   max-width: 400px; /* Adjust the max-width to your desired form width */
  //   padding: 20px;
  //   background-color: #1c1c1c; /* Background color for the form */
  //   border-radius: 8px; /* Rounded corners for the form */
  //   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Box shadow for a subtle lift effect */
  // }

  /* Styles for the text fields */
  // input[type="text"],
  // input[type="password"] {
  //   width: 100%;
  // //  padding: 10px;
  //   margin-bottom: 15px;
  //   border: 1px solid #ccc;
  //   border-radius: 5px;
  //   background-color: #f2f2f2; /* Background color for text fields */
  // }

  /* Styles for the "Remember me" checkbox */
  // label {
  //   display: flex;
  //   align-items: center;
  // }

  /* Styles for the "Sign In" button */
  button[type="submit"] {
    background-color: #e50914; /* Background color for the button */
    color: #fff; /* Text color for the button */
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  button[type="submit"]:hover {
    background-color: #d10812; /* Hover color for the button */
  }

  /* Styles for the "New to Netflix?" link */
  // span {
  //   text-align: center;
  //   color: #fff;
  //   margin-bottom: 10px;
  // }

  // a {
  //   color: #fff;
  //   font-weight: bold;
  //   text-decoration: none;
  // }

  // /* Styles for the small text below */
  // small {
  //   text-align: center;
  //   color: #fff;
  //   opacity: 0.8;
  // }
}
