// .Signup{
//     //background-image: url('../../../public/assets/images/IN-en-20230306-popsignuptwoweeks-perspective_alpha_website_large.jpg');
//     background-color: black;
//     background-repeat: no-repeat;
//     backface-visibility: calc(0.5);
//     object-fit: cover;
//     position: relative;
//     height: 100vh;
//     overflow: hidden;
//     .bgimg{

//         height: 100%;
//         object-fit: cover;
//         opacity: 0.5;
//     }
//     .content{
//         color: white;
//         position: absolute;
//         top: 0;
    
       
//         width: 100%;
//         .top{   
//             display: flex;
//             justify-content: space-between;
//             padding: 50px 100px;
//         align-items: center;
//         img{
//             height: 50px;
//         }
//         }
//         .container{
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             gap: 10px;
//             form{
//                 display: flex;
              
//                 align-items: center;
//                 border-color: #fff;
//                 outline-color: #fff;
//                 input{
//                     color: white;
//                 }
//                 button{
//                    // width: 100%;
//                 }
//             }
    
//         }
//     }

    
// }
.register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("../../../public/assets/images/IN-en-20230306-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    position: relative;
  
    .top {
        z-index: 101;
        position: relative;
      .wrapper {
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo {
          height: 40px;
        }
  
        .loginButton {
          background-color: red;
          border: none;
          color: white;
          border-radius: 5px;
          padding: 5px 15px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  
    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
  
      h1 {
        font-size: 50px;
      }
  
      h2 {
        margin: 20px;
      }
  
      p {
        font-size: 20px;
      }
  
      .input {
        width: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        height: 50px;
        border-radius: 5px;
  
        input{
            flex: 9;
            height: 100%;
            border: none;
            padding: 0 10px;
        }
  
        .registerButton{
            flex: 3;
            height: 100%;
            background-color: red;
            border: none;
            color: white;
            font-size: 22px;
            cursor: pointer;
        }
      }
    }
  }