.Homepage{
    background-color: var(--maincolor)  ;
    width: 100%;
    background-size: cover;
    height: 100%;
   // background-image: url('../../../public/assets/images/IN-en-20230306-popsignuptwoweeks-perspective_alpha_website_large.jpg');
}